@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}



        /* Nav section starts */

    .nav{
        display: flex;
        justify-content: space-around;
        
    }

    
    
    

     .nav-icon{
        display: flex;
        gap: 20px;
        align-items: center;

    }
    .gamer-title span{
        color: rgba(255, 166, 0, 0.867);}

    .gamer-title{
        font-size: 40px;
    }

    .nav-icon img{
        width:60px;
        height: 30px;

    } 

    .nav-item{
        display: flex;
        align-items: center;
    }

    .nav-item > .nav-anchor{
        background-color: rgba(11, 2, 35, 0.10);
        font-size: 1.2 rem;
        font-weight: 500;
        width: 120px;
        border-radius: 5px;
        margin-left: 25px;
        padding: 5px;
    }


                /* banner-container starts here */

    .banner-container{
        max-width: 1800px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        margin-left: 80px;
        
    }

    

    .banner-image img{
        width: 400px;
        height: 400px;
    }

    

    .banner-goat{
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }

    .primary-text{
        color: #534C64;
        font-size: 1rem;
        font-weight: 500;

    }

    .sign-btn{
        color: #FFF;
        font-size: 1rem;
        font-weight: 300;
        border-radius: 48px;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        padding: 10px 10px;
        

    
    }

    .go-btn{
        color: #FFF;

        font-size: 1 rem;
        font-weight: 400;
        border-radius: 48px;
        background: #4EC5F7;
        padding: 10px 10px;
        margin-left: 5px;

    }

                /* FUNNY-SECTION */
        
     .funny-container{
        margin-top: 100px;
        }
    .funny-content{
        text-align: center;
    }

    .funny-cards{
        
        display: flex;
        justify-content: center;
        
        
        
       }

    .funny-cards img{
        width: 200px;
        height: 200px;
    }

    .card {
        width: 200px;
        
        
        
        }

    .common-text{
        color: #534C64;
        font-size: 10px;
        font-weight: 300px;
    }

    
                /* Instant-play section */
    
        .instant-play{
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            margin-bottom: -100px;
        }

        .instant-images img{
            width: 400px;
            height: 450px;
            position: static;
            margin-top: 100px;
        }

        .small-image img{
            width: 180px;
            height: 190px;
            position: relative;
            bottom: 250px;
            right: 50px;
            
            
        }

        .instant-content{
            text-align: center;
            margin-bottom: 250px;
            width: 200px;
            margin-right: 30px;
            
            
        }


        .title-h3{
            background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        .common-h3{
            font-size: 1.5rem;
            margin: 0;
        }


            /* hoover section */

            

           
         .hoover-top{
                display: grid;
                grid-template-columns: repeat(5 ,1fr);
                /* margin-bottom: 30px; */
                justify-content: center;
                margin-left: 300px;
                
                
            }

            .top-btn{
                display: flex;
                align-items: center;
                background-color: transparent;
                gap: 5px;
                border: none;
                cursor: pointer;
                margin-left: 30px;
                
               
                
            }



            .top-btn img{
                width: 20px;
            }

            .top-btn:hover{
                border: 1px solid red;
                border-radius: 50%;
            }

            .bottom-first{
               margin-left: 100px;
               
            }


                    /* Footer section */


            .footer-container{
                margin: 50px;
                
                background-color: #0B0223;
                
            }

            .footer-title{
                margin-top: 100px;
               
                margin-bottom: 30px;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
                
            }
            .footer-title img{
                width:60px;
        height: 30px;
            }

            .footer-btn{
                text-align: center;
                margin: 30px ;


            }

            .footer-btn button{
                margin: 30px;
            }

           

            

            .gamer span{
                color: rgba(255, 166, 0, 0.867);
            }
            .gamer{
                color: #FFF;
            }

            .footer-intro{
                margin: 20px;
                color: #FFF;
                font-size: 13px;
                font-weight: 300;

            }

            .footer-description{
                text-align: center;
            }

            .terms{
                color: #FFF;
                display: flex;
                justify-content: center;
                font-size: 10px;
                font-weight: 400;
                padding-bottom: 10px;
                
            }

            .terms p{
                margin: 20px;
            }

            .copyright{
                color: #FFF;
                font-size: 10px;
                font-weight: 400;
                text-align: center;
                
                padding-bottom: 20px;
            }

        


            

        

        
    
    

        
    

    

    

    

    

     

 
    




    /* responsive for small device */

    @media screen and (max-width:576px) {
        .nav, .nav-item, .banner-container, .funny-cards, .instant-play{
            flex-direction: column;
        }
        .nav-icon, .instant-play{
            justify-content: center;
        }

        .nav-item{
            width: 100%;
            
        }
        .nav-item div{
            margin-right: 30px;
        }

        .banner-image img{
            width:90%;
            
        }

        

        .banner-content{
            margin-left: 40px;
            width: 80%;
        }
        .funny-cards{
            align-items: center;
            gap: 5px;
        }
    
        .instant-content{
            margin-bottom: 0;
            margin-right: 10px;
            margin-left: 30px;
        }
    
        .instant-images{
            width: 60%;
            margin-left: 5px;
        }
        .instant-images img{
            width: 300px;
        }

        .hoover-top{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-left: 30px;
        }

        .bottom-first{
            margin-left: 0;
        }

        

        






        
    }

   

   


                


